[motor_constants my_custom_motor]
# Coil resistance, Ohms
resistance: 1.5
# Coil inductance, Henries
inductance:  0.0028
# Holding torque, Nm
holding_torque: 0.40
# Nominal rated current, Amps
max_current: 1.68
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200


[motor_constants my_custom_motor]
# Coil resistance, Ohms
resistance: 1.5
# Coil inductance, Henries
inductance:  0.0028
# Holding torque, Nm
holding_torque: 0.40
# Nominal rated current, Amps
max_current: 1.68
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200


[motor_constants siboor-14sth20-1004a]
#   Extruder
resistance: 1.7
inductance: 0.0015
holding_torque: 0.12
max_current: 1.88
steps_per_revolution: 200